﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LDH BT Settings</title>
    <link href="~/Content/DataTables/css_manual/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/DataTables/css_manual/select.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/DataTables/css_manual/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/DataTables/extensions/editor.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/DataTables/extensions/fixedColumns.dataTables.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables.select.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/Editor/dataTables.editor.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
        var unsaved = false;

        $(":input").change(function () { //trigers change in all input fields including text type
            unsaved = true;
        });

        $(window).bind('beforeunload', function () {
            if (unsaved) {
                return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
            }
        });

        // Monitor dynamic inputs
        $(document).on('input', ':input', function () { //triggers change in all input fields including text type
            unsaved = true;
        });

        function CalculateAltScores()
        {
            if (confirm("This is a long-running process. Are you sure?")) {
                $.ajax({
                    method: "POST",
                    url: "/ui_api/calculatealtscores",
                    contentType: 'application/json',
                    dataType: "json",
                    postData: null,
                    error: function (err) {
                        alert("Alternative Scores are still being calculated. Please try again later");
                    },
                    success: function () {
                        alert("Alternative Scores are now being calculated. You can verify the progress through the reports in Tableau.");
                    }
                });
            }
        }

        var interval = 10000;
        function RefreshBackendWorkerStatus() {
            $.ajax({
                type: 'GET',
                url: '/ui_api/getworkerservicestatus',
                success: function (data) {
                    $('#BackendWorkerStatus').text(data);
                },
                complete: function (data) {
                    // Schedule the next update
                    setTimeout(RefreshBackendWorkerStatus, interval);
                }
            });
        }
        

        function SaveDataTable(button)
        {
            if (confirm("Business Type Settings will be updated now. Are you sure?")) {
                button.disabled = true;
                var oTable = $('#tblBusinessTypes').dataTable();
                var tableData = oTable.fnGetData();
                var error = false;
                for (var i = 0; i < tableData.length; i++) {
                    if (parseFloat(tableData[i].TOTAL) != 100) {
                        error = true;
                    }
                }
                if (!error) {
                    $.blockUI({ message: '<h2><img style="width:20px;height:20px;" src="/Content/Images/busy.gif" /> Just a moment...</h2>' });
                    var jsonData = JSON.stringify(tableData);

                    $.ajax({
                        method: "POST",
                        url: "/ui_api/setbusinesstypedata",
                        contentType: 'application/json',
                        dataType: "json",
                        data: jsonData,
                        error: function (err) {
                            button.disabled = false;
                            $(document).ajaxStop($.unblockUI);
                            alert("There was an error: " + err.responseJSON.ExceptionMessage);
                        },
                        success: function () {
                            unsaved = false;
                            button.disabled = false;
                            $(document).ajaxStop($.unblockUI);
                            alert("Business Type data saved successfully. Have a nice day!")
                        }
                    });
                }
                else {
                    alert("Please make sure the TOTAL for each Business Type is exactly 100");
                    button.disabled = false;
                }
            }
        }
    </script>
    <script type="text/javascript">
        var editor;
        var loadedData;
        
        $(document).ready(function () {
            editor = new $.fn.dataTable.Editor({
                table: "#tblBusinessTypes",
                fields: [
                    { name: "Vertical" },
                    { name: "BusinessType" },
                    { name: "BingLocal" },
                    { name: "CitySearch" },
                    { name: "ExpressUpdate" },
                    { name: "Facebook" },
                    { name: "Foursquare" },
                    { name: "GoogleMyBusiness" },
                    { name: "Local" },
                    { name: "MapQuest" },
                    { name: "MerchantCircle" },
                    { name: "TripAdvisor" },
                    { name: "YahooLocal" },
                    { name: "YellowPages" },
                    { name: "Yelp" },
                    { name: "HealthGrades" },
                    { name: "MDcom" }
                ]
            });

            $('#tblBusinessTypes').on('click', 'tbody td.editable_cell', function (e) {
                editor.inline(this);
            });

            editor.on('preSubmit', function (e, o, action) {
                if (action !== 'remove') {
                    var field = editor.field(e.target.s.includeFields[0]);

                    if (!field.isMultiValue()) {
                        if (isNaN(field.val())) {
                            field.error('<span style="color:red;">Value must be numeric</span>');
                        }

                        if (parseFloat(field.val()) > 100) {
                            field.error('<span style="color:red;">Value must be between 0 and 100</span>');
                        }

                        if (parseFloat(field.val()) < 0) {
                            field.error('<span style="color:red;">Value must be between 0 and 100</span>');
                        }
                    }

                    // If any error was reported, cancel the submission so it can be corrected
                    if (this.inError()) {
                        return false;
                    }
                }
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            });

            var table = $('#tblBusinessTypes').DataTable({
                ajaxSource: "/ui_api/getbusinesstypedata",
                fixedColumns: {
                    leftColumns: 2,
                    rightColumns: 1,
                    heightMatch: 'auto'
                },
                deferRender: true,
                columns: [
                    { data: "Vertical" },
                    { data: "BusinessType" },
                    { data: "BingLocal" },
                    { data: "CitySearch" },
                    { data: "ExpressUpdate" },
                    { data: "Facebook" },
                    { data: "Foursquare" },
                    { data: "GoogleMyBusiness" },
                    { data: "Local" },
                    { data: "MapQuest" },
                    { data: "MerchantCircle" },
                    { data: "TripAdvisor" },
                    { data: "YahooLocal" },
                    { data: "YellowPages" },
                    { data: "Yelp" },
                    { data: "HealthGrades" },
                    { data: "MDcom" },
                    {
                        title: "TOTAL",
                        data: function (row, type, set, meta) {
                            var total = 0;
                            for (var el in row) {
                                if (!isNaN(row[el]))
                                    total += parseFloat(row[el]);
                            }
                            if (!row.hasOwnProperty('TOTAL')) {
                                row.TOTAL = total;
                            }
                            return row.TOTAL;
                        },
                        render: function (data, type, row) {
                            var total = 0;
                            for (var el in row) {
                                if (!isNaN(row[el]) && el != "TOTAL" && el != "Business Type" && el != "Vertical")
                                    total += parseFloat(row[el]);
                            }
                            row.TOTAL = total;
                            if (total != 100) {
                                return "<span style='color:red;'>" + total + "</span>"
                            }
                            else
                                return total + "%";
                        }
                    }
                ],
                columnDefs: [{
                    className: "editable_cell",
                    targets: [ 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16 ],
                    render: function (data, type, row) {
                        return data + "%";
                    }
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                scrollY: 500,
                paging: false
            });

            table.draw();

            RefreshBackendWorkerStatus();
        });

    </script>
    <style>
        /* http://meyerweb.com/eric/tools/css/reset/
           v2.0 | 20110126
           License: none (public domain)
        */

        html, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        body {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font-family: sans-serif;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

            blockquote:before, blockquote:after,
            q:before, q:after {
                content: '';
                content: none;
            }

        table, table th, table td {
            border-collapse: collapse;
            border-spacing: 0;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
    </style>
    <style>
        .editable_cell {

        }

        .ldh-announcement-wrap {
            font: 12px/19px "Helvetica Neue", Helvetica, Arial;
            text-align: center;
            max-width: 720px;
            margin: 20px auto;
        }

            .ldh-announcement-wrap a {
                text-decoration: none;
            }

            .ldh-announcement-wrap h1 {
                font-size: 18px;
                font-weight: bold;
                color: #333;
                margin-bottom: 5px;
            }

            .ldh-announcement-wrap h2 {
                font-size: 15px;
                font-weight: normal;
                color: #8f8f8f;
            }

            .ldh-announcement-wrap h3 {
                font-size: 14px;
                font-weight: bold;
                color: #333;
            }

            .ldh-announcement-wrap ul {
                margin: 16px auto;
                display: block;
            }

                .ldh-announcement-wrap ul li {
                    width: 30%;
                    padding: 0 1.5%;
                    max-width: 200px;
                    margin: 0 auto;
                    display: inline-block;
                    text-align: center;
                    vertical-align: top;
                }

            .ldh-announcement-wrap p {
                color: #8f8f8f;
                margin-top: 5px;
                font-size: 13px;
            }

            .ldh-announcement-wrap img {
                max-width: 75px;
                margin: 0 auto;
            }

            .ldh-announcement-wrap a.get-started {
                -moz-border-radius: 200px;
                -webkit-border-radius: 200px;
                border-radius: 200px;
                background: #8ab644;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                margin: 20px auto 5px auto;
                text-decoration: none;
                padding: 15px 45px;
                display: block;
                width: 120px;
            }

        .ldh-score-update {
            background: #ddfdda;
            border: 1px solid #9cec95;
            margin: 30px auto;
            padding: 12px 20px 18px 20px;
            font-size: 12px;
            width: 450px;
        }

            .ldh-score-update a {
                font-weight: bold;
                color: #5f5656;
            }

        .ldh-announcement-wrap .ldh-score-update p {
            font-size: 12px;
            color: #5f5656;
        }
    </style>
    <style>
    .notice-default {
    color:#ccc;
    }
    .velocity-btn {
    font-size:14px;
    margin: 0 5px;
    }
    .velocity-btn.velocity-btn-success {
    max-width:200px;
    text-align: center;
    background: #9BC34D;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 20px;
    border:0;
    }
    .velocity-btn.velocity-btn-white {
    max-width:200px;
    text-align: center;
    background: #fff;
    color: #9BC34D;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 20px;
    border:1px solid #9BC34D;
    }
    .velocity-btn.velocity-btn-danger {
    max-width:200px;
    text-align: center;
    background: #FB3258;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 20px;
    border:0;
    }

    .inline-header.inline-header-tabbed {
    float:left;
    width:100%;
    padding-bottom:0;
    padding-top:15px;
    border-bottom:2px solid #ddd;
    background:#fff;

    }
    .inline-header-tabbed .close-inline {

    }
    .inline-tabs {
    float:left;
    position:relative;
    top:4px;
    padding: 0 30px 0 30px;
    }
    .inline-tab {
    float: left;
    padding: 15px 35px;
    margin: 25px 15px 0 0;
    border-radius: 6px 6px 0 0;
    border: 1px solid #ddd;
    background:#eee;
    color:#999;
    border-bottom: none;
    cursor:pointer;
    }
    .inline-tab.active {
    background: #fff;
    color:#333;
    border-width:2px;
    }

    .link-success {
    color:#9BC34B;
    cursor:pointer;
    }
    .velocity-btn-group .velocity-btn-group-btn {
    text-align: center;
    background: #E6ECE8;
    margin-bottom:15px;
    color: #aaa;
    max-width: 200px;
    padding: 11px 25px;
    cursor: pointer;
    float: left;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: .3px;
    }
    .velocity-btn-group-btn.active {
    background: #9BC34D;
    color:#fff;
    }
    .velocity-btn-group-btn:first-child {
    border-radius: 20px 0 0 20px;
    }
    .velocity-btn-group-btn:last-child {
    border-radius: 0 20px 20px 0;
    }

    .details-enter {
    top:100%;
    }

    .details-enter.details-enter-active {
    top: 15%;
    transition: all 200ms ease-in;
    }

    .details-leave {
    top: 15%;
    }

    .details-leave.details-leave-active {
    top: 100%;
    transition: all 200ms ease-in;
    }
    .example-enter {
    opacity: 0.01;
    }

    .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
    }

    .example-leave {
    opacity: 1;
    }

    .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
    }

    .loading-progress {
    border-top:2px solid #ddd;
    max-width:300px;
    margin:0 auto;
    padding:15px;
    }
    .loading-progress .loading-tip {
    margin:5px auto 10px auto;
    line-height:1.6;
    font-size:16px;
    }
    .loading-question-icon {
    color: #9BC34D;
    max-width: 100px;
    margin: 0 auto;
    font-size: 90px;
    }
    .loading-tip-question {
    max-width:500px;
    margin:15px auto 5px auto;
    line-height:1.6;
    font-size:23px;
    }
    .loading-tip {
    max-width:500px;
    margin:0 auto 15px auto;
    line-height:1.6;
    font-size:20px;
    color:#666;
    }
    .product-top-nav {
    background: #3d3c3b;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #555;
    }
    .product-top-nav.second-row {
    background: #3d3c3b;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #555;
    }
    .header-directory-name {
    font-size: 18px;
    margin: 0 40px 0 0;
    color: #fff;
    font-weight:400;
    }
    .header-product-name {
    font-size: 16px;
    margin: 0 40px 0 0;
    color: #bcbcbc;
    font-weight:100;
    }
    .ldh-breadcrumb {
    font-size:12px;
    color:#b5b5b5;
    font-weight:100;
    margin: 0 40px 0 0;
    }
    .see-more-details-button {
    margin: 40px auto 40px auto;
    padding:20px 50px;
    max-width:600px;
    background:#9BC34B;
    color:#fff;
    border-radius:8px;
    text-align:center;
    cursor:pointer;
    }
    .breadcrumb-chevron {
    font-size: 11px;
    position: relative;
    display: inline-block;
    left: 20px;
    top: 0px;
    color:#999;
    }
    </style>
</head>
<body>
    <div class="ldh-announcement-wrap">
        <h1>Welcome to the LDH Business Type Settings Manager</h1>
        <h2>Here you can set the relative weights of Domains for each Business Type</h2>
    </div>
    <table id="tblBusinessTypes" datatable="" class="display dataTable no-footer" width="100%" cellspacing="0" data-scroll-x="true" scroll-collapse="false">
        <thead style="color:#89b530;font-size:small;">
            <tr>
                <th style="vertical-align:bottom">Vertical</th>
                <th style="vertical-align:bottom;width:500px;">Business Type</th>
                <th><img width="40" height="40" src="~/Content/Images/BingLocal.png" />BingLocal</th>
                <th><img width="40" height="40" src="~/Content/Images/CitySearch.png" /> CitySearch</th>
                <th><img width="40" height="40" src="~/Content/Images/ExpressUpdate.png" /> ExpressUpdate</th>
                <th><img width="40" height="40" src="~/Content/Images/Facebook.png" /> Facebook</th>
                <th><img width="40" height="40" src="~/Content/Images/Foursquare.png" /> Foursquare</th>
                <th><img width="40" height="40" src="~/Content/Images/GoogleMyBusiness.png" /> GoogleMyBusiness</th>
                <th><img width="40" height="40" src="~/Content/Images/Local.png" /> Local</th>
                <th><img width="40" height="40" src="~/Content/Images/MapQuest.png" /> MapQuest</th>
                <th><img width="40" height="40" src="~/Content/Images/MerchantCircle.png" /> MerchantCircle</th>
                <th><img width="40" height="40" src="~/Content/Images/TripAdvisor.png" /> TripAdvisor</th>
                <th><img width="40" height="40" src="~/Content/Images/YahooLocal.png" /> YahooLocal</th>
                <th><img width="40" height="40" src="~/Content/Images/YellowPages.png" /> YellowPages</th>
                <th><img width="40" height="40" src="~/Content/Images/Yelp.png" />Yelp</th>
                <th><img width="40" height="40" src="~/Content/Images/HealthGrades.png" /> HealthGrades</th>
                <th><img width="40" height="40" src="~/Content/Images/MDcom.png" /> MD.com</th>
                <th style="vertical-align:bottom">TOTAL</th>
            </tr>
        </thead>
    </table>
    <table width="100%" style="margin-left:10%">
        <tr>
            <td style="padding-top:10px;text-align:center;width:50%"><div class="velocity-btn velocity-btn-success" onclick="CalculateAltScores();">Process ALT Scores</div></td>
            <td style="padding-top:10px;text-align:center;width:50%"><div class="velocity-btn velocity-btn-success" onclick="SaveDataTable(this);">Save</div></td>
        </tr>
        <tr>
            <td style="padding-top:30px;">
                Backend Worker Service Status: <span id="BackendWorkerStatus"></span>
            </td>
        </tr>
    </table>
        
        
</body>
</html>