﻿@model IEnumerable<LDH.Management.WebUI.Models.Directory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LDH Work Status</title>
    <link href="~/Content/DataTables/css_manual/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/DataTables/css_manual/select.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/DataTables/css_manual/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables.select.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        var selectedProcess;
        $(document).ready(function () {
            var table = $('#tbl_accounts').DataTable({
                ajaxSource: "ui_api/getdirectorydata",
                deferRender: true,
                columns: [
                    { data: null, defaultContent: ' ' },
                    { data: "ID" },
                    { data: "SycaraID" },
                    { data: "Name" },
                    { data: "ApiKey" },
                    { data: "ProfileCount" },
                    {
                        data: "Status",
                        render: function (data, type, full, meta) {
                            var pb_width = 300;
                            var icon_size = 30;
                            var pb_bgColor = "grey";
                            var pb_fgColor = "blue";
                            var pb_fgColor2 = "green";

                            var cellContent = '<table cellspacing="0" cellpadding="0" style="width:' + (pb_width + icon_size).toString() + 'px;">';
                            cellContent += '<tr style="background-color:transparent;"><td style="margin:0;padding:0;">';

                            if (full.IsQueued) {
                                cellContent += '<img src="Content/Images/loading-gears.gif" style="width:' + icon_size.toString() + 'px;height:' + icon_size.toString() + 'px" alt="Working..." />';
                            }
                            else {
                                cellContent += '<img src="Content/Images/placeholder.png" style="width:' + icon_size.toString() + 'px;height:' + icon_size.toString() + 'px" />';
                            }

                            cellContent += '</td><td>';

                            if (full.QueuedJobs > 0 || full.ActiveJobs > 0) {
                                if (full.IsQueued) {
                                    cellContent += '<div style="background-color:' + pb_bgColor + ';width:' + pb_width.toString() + 'px;"><div style="background-color:' + pb_fgColor + ';width:' + ((full.QueuedJobs * pb_width) / full.ProfileCount).toString() + 'px;height:15px" /></div>';
                                    cellContent += '<div style="background-color:' + pb_bgColor + ';width:' + pb_width.toString() + ';"><div style="background-color:' + pb_fgColor2 + ';width:' + ((full.CompletedJobs * pb_width) / full.ProfileCount).toString() + 'px;height:15px" /></div>';
                                }
                                else {
                                    cellContent += '<div style="background-color:' + pb_bgColor + ';width:' + pb_width.toString() + 'px;"><div style="background-color:' + pb_fgColor + ';width:' + pb_width.toString() + 'px;height:15px" /></div>';
                                    cellContent += '<div style="background-color:' + pb_bgColor + ';width:' + pb_width.toString() + ';"><div style="background-color:' + pb_fgColor2 + ';width:' + (((full.ProfileCount - full.QueuedJobs) * pb_width) / full.ProfileCount).toString() + 'px;height:15px" /></div>';
                                }
                                
                            }
                            else {
                                cellContent += '<div style="width:' + pb_width.toString() + 'px;height:' + icon_size.toString() + 'px" />';
                            }

                            cellContent += '</td>';
                            cellContent += "</table>"

                            return cellContent;
                        }
                    }
                ],
                rowId: "ID",
                columnDefs: [{
                    orderable: false,
                    visible: true,
                    className: 'select-checkbox',
                    targets: 0,
                    width: 10
                },
                {
                    targets: [2, 4],
                    visible: false
                },
                {
                    targets: [1, 2, 3, 4, 5, 6],
                    className: 'dt-head-left'
                }],
                dom: 'Bfrtip',
                buttons: [
                    'selectAll',
                    'selectNone',
                    {
                        text: 'Launch LDH',
                        action: function (e, dt, node, config) {
                            var table = $('#tbl_accounts').DataTable();
                            if (table.rows('.selected').data().length > 0) {
                                if (confirm('Launch LDH for the selected Directories?')) {
                                    var DirectoryIDs = new Array();
                                    for (var i = 0; i < table.rows('.selected').data().length; i++) {
                                        DirectoryIDs[i] = parseInt(table.rows('.selected').data()[i].ID);
                                    }
                                    var postData = { Directories: DirectoryIDs };

                                    $.ajax({
                                        type: "POST",
                                        url: "/Directory/LaunchLDH",
                                        data: postData,
                                        dataType: "json",
                                        traditional: true
                                    });
                                }
                            }
                            else {
                                alert('No profiles selected.');
                            }
                        }
                    },
                    {
                        text: 'Export CSV',
                        action: function (e, dt, node, config)
                        {
                            var table = $('#tbl_accounts').DataTable();
                            if (table.rows('.selected').data().length > 0) {
                                if (confirm('Generate CSV files for the selected Directories?')) {

                                    var isBaseline = chkBaseline.checked;
                                    var today = new Date();
                                    today.setDate(1);
                                    if (!isBaseline) {
                                        if (today.getMonth() == 11) {
                                            today.setFullYear(today.getFullYear() + 1);
                                            today.setMonth(0);
                                        }
                                        else {
                                            today.setMonth(today.getMonth() + 1);
                                        }
                                    }
                                    var csvDate = new Date(today.getFullYear().toString() + '-' + (today.getMonth() + 1).toString() + '-1')

                                    var ExportSettings = { ExportDate: JSON.parse(JSON.stringify(csvDate)), Directories: new Array(), ExportToS3: chkS3.checked };

                                    if (selectedProcess == null) {
                                        selectedProcess = $('#process').val();
                                    }

                                    for (var i = 0; i < table.rows('.selected').data().length; i++) {
                                        ExportSettings.Directories.push({ DirectoryID: parseInt(table.rows('.selected').data()[i].ID), ProcessID: selectedProcess });
                                    }

                                    $.ajax({
                                        method: "POST",
                                        url: "/ui_api/exportcsv",
                                        contentType: 'application/json',
                                        data: JSON.stringify(ExportSettings),
                                        dataType: "json",
                                        traditional: true,
                                        success: function () {
                                            alert('Export to CSV completed');
                                        },
                                        error: function () {
                                            alert('Export to CSV failed')
                                        }
                                    });
                                }
                            }
                            else {
                                alert('No profiles selected.');
                            }
                        }
                    }
                ],
                stateSave: true,
                select: {
                    style: 'multi+shift',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                scrollY: 500,
                paging: false
            });

            $('input.toggle-vis').on('click', function (e) {
                //e.preventDefault();
                // Get the column API object
                var column = table.column($(this).attr('data-column'));
                // Toggle the visibility
                column.visible($(this).is(":checked"));
            });

            $('#process').change(function () {
                selectedProcess = $(this).val();
            });

            $('#export').appendTo('.dt-buttons').css({'display': 'inline-block', 'border': '1px solid' });
            $('.exportSetting').css({ 'vertical-align': 'top', 'position': 'relative', 'top': '10px', 'margin-left': '5px' });
            $('.dt-button').last().appendTo('#export');
            $('.dt-button').css({'display': 'inline-block', 'margin-top': '5px'});

            refreshProcessList();
            setInterval(refreshProcessList, 15000);

            setInterval(function () {
                table.ajax.reload(null, false);
            }, 30000);
        });
        

        function refreshProcessList() {
            $.ajax({
                url: '/ui_api/getProcessList',
                type: "GET",
                contentType: 'application/json',
                success: function (result) {
                    var processList = $('#process');
                    processList.empty();
                    $.each(result.ProcessList, function () {
                        processList.append(
                            $('<option/>').attr('value', this.ID).text(this.ID + ' (' + this.StartDate + ')'))
                    });
                    if (selectedProcess > 0) {
                        $("#process").val(selectedProcess);
                    }
                }
            });
        }
    </script>
    <style>
        body {
            font-family: Sans-serif !important;
        }

        button.dt-button span, div.dt-button span, a.dt-button span {
            max-width: 200px;
            text-align: center;
            background: #9BC34D;
            color: #fff;
            padding: 7px 20px;
            cursor: pointer;
            border-radius: 20px;
            border: 0;
        }

        .dt-button {
            border: none !important;
            background: none !important;
        }

        .even.selected {
            background-color: #fff !important;
        }

        .odd.selected {
            background-color: #ddd !important;
        }

        .selected td {
            background-color: inherit !important;
        }

                .ldh-announcement-wrap {
            font: 12px/19px "Helvetica Neue", Helvetica, Arial;
            text-align: center;
            max-width: 720px;
            margin: 20px auto;
        }

            .ldh-announcement-wrap a {
                text-decoration: none;
            }

            .ldh-announcement-wrap h1 {
                font-size: 18px;
                font-weight: bold;
                color: #333;
                margin-bottom: 5px;
            }

            .ldh-announcement-wrap h2 {
                font-size: 15px;
                font-weight: normal;
                color: #8f8f8f;
            }

            .ldh-announcement-wrap h3 {
                font-size: 14px;
                font-weight: bold;
                color: #333;
            }

            .ldh-announcement-wrap ul {
                margin: 16px auto;
                display: block;
            }

                .ldh-announcement-wrap ul li {
                    width: 30%;
                    padding: 0 1.5%;
                    max-width: 200px;
                    margin: 0 auto;
                    display: inline-block;
                    text-align: center;
                    vertical-align: top;
                }

            .ldh-announcement-wrap p {
                color: #8f8f8f;
                margin-top: 5px;
                font-size: 13px;
            }

            .ldh-announcement-wrap img {
                max-width: 75px;
                margin: 0 auto;
            }

            .ldh-announcement-wrap a.get-started {
                -moz-border-radius: 200px;
                -webkit-border-radius: 200px;
                border-radius: 200px;
                background: #8ab644;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                margin: 20px auto 5px auto;
                text-decoration: none;
                padding: 15px 45px;
                display: block;
                width: 120px;
            }
    </style>
</head>
<body>
    <div class="ldh-announcement-wrap">
        <h1>Welcome to the LDH Process Management</h1>
        <h2>Here you can launch and monitor the progress of the LDH Process</h2>
    </div>
    <div style="margin-bottom:20px;">
        Toggle columns:
        <!--<input type="checkbox" class="toggle-vis" data-column="1" checked="checked">@Html.DisplayNameFor(model => model.ID)</input> - -->
        <input type="checkbox" class="toggle-vis" data-column="2">@Html.DisplayNameFor(model => model.SycaraID)</input> - 
        <input type="checkbox" class="toggle-vis" data-column="3" checked="checked">@Html.DisplayNameFor(model => model.Name)</input> - 
        <input type="checkbox" class="toggle-vis" data-column="4">@Html.DisplayNameFor(model => model.ApiKey)</input> - 
        <input type="checkbox" class="toggle-vis" data-column="5" checked="checked">@Html.DisplayNameFor(model => model.ProfileCount)</input> - 
        <input type="checkbox" class="toggle-vis" data-column="6" checked="checked">@Html.DisplayNameFor(model => model.Status)</input>
        <div name="export" id="export" style="margin-bottom:20px;">
            <select name="process" id="process" class="exportSetting"></select>
            <input name="chkBaseline" id="chkBaseline" type="checkbox" class="exportSetting" />
            <label name="lblBaseline" id="lblBaseline" for="chkBaseline" class="exportSetting">Baseline</label>
            <input name="chkS3" id="chkS3" type="checkbox" class="exportSetting" />
            <label name="lblS3" id="lblS3" for="chkS3" class="exportSetting">Push To S3</label>
        </div>
    </div>
    <div style="width:100%;">
        <table id="tbl_accounts" class="display select" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th style="visibility:hidden"></th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SycaraID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApiKey)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
